// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// colors {
$main-color: #4eda8c;
$secondary-color: #f1f1f1;
$grey: #818181;
$background-grey: #dddddd